*{
  margin: 0; 
  padding: 0; 
}

html, body{
  height: 100%; 
}

body{
  font-family: Arial, Helvetica, sans-serif; 
  background-color: whitesmoke; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1{
  text-align: center; 
  margin-bottom: 1em; 
  font-size: x-large;
}

.container{
  height: 600px; 
  width: 600px; 
  background-color: whitesmoke; 
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em; 
}

.movie{
  background-color: #D3D3D3; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

.movie:hover {
  background-color: #818589;
}

.movie.selected {
  background-color: #818589; /* Color when selected */
}

.movie img{
  max-width: 90%; 
  max-height: 80%; 
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.movie.shake {
  animation: shake 0.5s ease-in-out;
}

.popup {
  position: fixed;
  top: 10%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  justify-content: center;
}

.popup-content {
  text-align: center;
}

.life-tracker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px; 
  position: fixed;
  bottom: 10px; 
  width: 100%;
  max-width: 600px; 
}

.life-tracker {
  display: flex;
  align-items: center;
}

.lives-text {
  margin-right: 10px;
  font-weight: bold;
}

.lives {
  display: flex;
}

.life {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.life.active {
  background-color: #D3D3D3; 
}

.life.lost {
  background-color: whitesmoke; 
}