*{
  margin: 0; 
  padding: 0; 
}

html, body{
  height: 100%; 
}

body{
  font-family: Arial, Helvetica, sans-serif; 
  background-color: whitesmoke; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

h1{
  text-align: center; 
  margin-bottom: 1em; 
  font-size: x-large;
}

.container{
  height: 600px; 
  width: 600px; 
  background-color: whitesmoke; 
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em; 
}

.movie{
  background-color: #D3D3D3; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

.movie:hover {
  background-color: #818589;
}

.movie.selected {
  background-color: #818589; /* Color when selected */
}

.movie img{
  max-width: 90%; 
  max-height: 80%; 
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.movie.shake {
  animation: shake 0.5s ease-in-out;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}