*{
  margin: 0; 
  padding: 0; 
}

html, body{
  height: 100%; 
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  background-color: whitesmoke; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

h1{
  text-align: center; 
  margin-bottom: 1em; 
}

.container{
  height: 600px; 
  width: 900px; 
  background-color: red; 
}